html,
body {
  padding: 0;
  margin: 0;
  /* background:url("../public/bg.jpeg") ; */
  /* background-image: url("../public/bg.jpeg"); */
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
  overflow: hidden;


}

* {
  box-sizing: border-box;
}

